<h3>商品詳細</h3>

<div><%= attachment_image_tag @item, :image, size: "250x200" %></div>
<table>
  <tbody>
    <tr>
      <td>商品名</td>
      <td><%= @item.name %></td>
    </tr>
    <tr>
      <td>商品説明</td>
      <td><%= @item.introduction %></td>
    </tr>
    <tr>
      <td>ジャンル</td>
      <td><%= Genre.find(@item.genre_id).name %></td>
    </tr>
    <tr>
      <td>
        税込価格<br>
        （税抜き価格）
      </td>
      <td>
        <%= number_to_currency(@item.price*1.1,:format => "%n%u", :unit => "円", :delimiter => ",") %>
        (<%= number_to_currency(@item.price, :format => "%n%u", :unit => "円", :delimiter => ",") %>)
      </td>
    </tr>
    <tr>
      <td>販売ステータス</td>
      <% if @item.is_active == true %>
      <td class="active_color">販売中</td>
      <% else %>
      <td class="inactive_color">販売停止中</td>
      <% end %>
    </tr>
  </tbody>
</table>