<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h2>LOGO</h2>
      <!--ログイン前　共通-->
      <div>About</div>
      <div>商品一覧</div>
      <div>新規登録</div>
      <div>ログイン</div>
      <!--ログイン後　管理者-->
      <div>商品一覧</div>
      <div>会員一覧</div>
      <div>注文履歴一覧</div>
      <div>ジャンル一覧</div>
      <div>ログアウト</div>
      <!--ログイン後　会員側-->
      <div>マイページ</div>
      <div>商品一覧</div>
      <div>カート</div>
      <div>ログアウト</div>
      <!--検索窓-->
    </header>
    <main>
      <%= yield %>
    </main>
    <footer></footer>
  </body>


</html>
