<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <!--ログイン前　共通-->
      <!--ログイン後　管理者-->
      <!--ログイン後　会員側-->
    </header>
    <main>
      <%= yield %>
    </main>
    <footer></footer>
  </body>


</html>
